/*GENERICS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --violet: rgb(156,171,224); 
}

body {
    font-family: sans-serif;
}

.boxed {
    max-width: 1000px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.dashed {
    border: dashed 2px black;
}

.wave {
    min-height: 100px;
    background-image: url(./img/wave.svg);
    filter: opacity(0.04);
    background-size: 100%;
}

.upsite-down {
  transform: rotateX(0.5turn);
}


/*GENERICS END*/

/*HEADER*/
header {
    background-color: rgb(49,96,224); 
    padding: 8px 0px;
    padding-bottom: 4px;
    border: transparent;
}

#header-container {
    align-items: center;
}

#header-logo {
    width: 40%;
}

.nav-logo {
    width: 20%;
}

.nav-link {
    width: 60%;
    min-height: 100%;
}

.nav-login {
    width: 20%;
    text-align: right;
}

.nav-logo,
.nav-link,
.nav-login {
    padding: 5px;
}

.nav-link ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.no-underline {
    text-decoration: none;
    color: black;
}

.no-bullets {
    list-style: none;
}

.header-bg {
    background-image: url(./img/immagine\ header.jpeg);
    background-size: cover;
    min-height: 470px;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: 8px;
}

.header-container {
    min-height: 300px;
    width: 55%;
    color: white;
    text-align: center;
}

.header-h1 {
    margin-top: 3em;
    font-size: 2em;
}

.header-paragraph {
    padding-left: 8.5em;
    padding-right: 8.5em;
    padding-top: 2em;
}

.header-button-white {
    background-color: white;
    padding: 1em;
    border-radius: 2em;
    margin-top: 1em;
}

.header-button-black {
    background-color: rgb(36, 35, 35);
    padding: 1em;
    border-radius: 2em;
    color: white;
}

.btn-small {
    background-color: white;
    border-radius: 45%;
    text-decoration: none;
    font-size: small;
    padding: 0.8em 1.1em;
}


/*HEADER END*/

/*MAIN CONTENT*/
.small-column {
    min-height: 350px;
    width: 40%;
    align-items: flex-start;
}

.big-column {
    min-height: 350px;
    width: 60%;
}

.bg-white {
    min-height: 350px;
    padding: 20px;
}

.bg-stars {
    background-image: url(./img/stars.svg);
    width: 25em;
    padding-top: 1.8em;
    margin: 2em auto;
    margin-bottom: 5em;
    background-size: contain;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

.last-img {
    width: 60%;
}

h2 {
    padding-bottom: 0.3em;
}

.text-left {
    text-align: left;
    padding: 2em;
    padding-right: 7em;
}

.text-left-padding-right {
    text-align: left;
    padding: 2em;
    padding-left: 7em;
}

.text-center {
    text-align: center;
}

.bg-gray-small {
    min-height: 350px;
    background-color: rgb(246, 246, 246);
    padding: 20px 0px;
}

.bg-gray-big {
    min-height: 550px;
    background-color: rgb(246, 246, 246);
    padding: 20px 0px;
}

.p-padding {
    margin-left: 10em;
    margin-right: 10em;
}

.btn-violet {
    background-color: var(--violet); 
    margin-top: 2em;
    color: white;
    text-decoration: none;
    border-radius: 45%;
    padding: 0.8em 1.1em;
}

/*MAIN CONTENT END*/

/*FOOTER*/
.bg-black-big {
    background-color: black;
    min-height: 350px;
    padding-top: 4px;
    padding-bottom: 18px;
    border-bottom: 3px solid gray;
}

.bg-black-small {
    background-color: black;
    min-height: 50px;
    border-bottom: 3px solid gray;
    padding-top: 10px;
}

.bg-salmon {
    min-height: 350px;
    background-color: rgb(253, 134, 120);
    width: 30%;
}

.bg-aquamarine {
    min-height: 350px;
    width: 70%;
}

.column {
    width: 25%;
    display: flex;
    justify-content: center;
    margin-top: 3em;
}

#footer-container {
    min-height: 50px;
    vertical-align: middle;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    padding-bottom: 1em;
}

.button {
    padding: 6px 9px;
    background-color: var(--violet); 
    border-radius: 20px;
    border: 1px solid var(--violet);
}

.nav-logo-footer {
    padding: 3px;
}

.column-footer {
    color: white;
    text-decoration: none;
}

.column ul li {
    margin-bottom: 8px;
}

.column ul li:first-child a{
  color: var(--violet);
  font-weight: bold;
}

/*FOOTER END*/